body{
}
/* .adminPage{
    width: 100%
}
.tabsContainer{
    width: 100%
} */
.badge{
    width: 95%;
    position: absolute !important
}
.tabs{
 
  /* width: 80%; */
  margin: auto;
  text-align: center;
}

.tabs__header {
    background-color: rgb(72,72,72) !important;
}
h2{
    text-align: center
}
.orgContainer{
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    padding: 3.5em;
    grid-gap: 3.5em;
    grid-template-rows: auto auto 1fr 1fr 1fr auto auto;
}

.orgChip{
    grid-column: auto;
    z-index: 100;
    max-height: 2.5rem;
    background-color: #e8e7e2 !important;
}
