@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-style: normal;
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}
.app-container {
    margin-top: 8vw;
}

@media only screen and (min-width: 768px) {
    .main-wrapper {}
    .route {}
    .app-container {
        margin-top: 10vw;
    }
}